<div class="table-container m-24">
  <div class="mat-headline-6 text-primary p-b-12">Users Listing</div>
  <div class="d-flex align-items-center m-t-0 m-b-24">
      <mat-icon color="accent"[routerLink]="['/home']">home</mat-icon>
    <div class="m-l-8"><span>/</span></div>
    <button class="m-l-4" color="primary" mat-button [routerLink]="['./']" routerLinkActive="router-link-active">Users</button>
  </div>
  <div class="table-header">
    <div class="filters">
      <div class="searchBox">
        <mat-icon class="m-8" color="accent">search</mat-icon>
        <input
          type="text"
          name="search"
          (keyup)="applyFilter($event)"
          placeholder="Search name, email, phone, or username (3 letters min)"
          class="search-input-width searchInput m-t-10"
        />
      </div>
      <div class="column-filters">
        <mat-form-field
          class="search-filters status-filter m-l-16 densed-form-field"
          floatLabel="auto"
          appearance="outline"
        >
          <mat-label class="mat-body-2 text-400">Status</mat-label>
          <mat-select
            [formControl]="appliedStatuses"
            disableOptionCentering
            panelClass="dropDown-status-panel"
            (selectionChange)="filterByStatus($event)"
            multiple
          >
            <mat-select-trigger class="selection-count-container m-t-2 m-l-40">
              <span class="count">+{{ appliedStatuses.value.length }}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let status of statuses" [value]="status">{{
              status
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="search-filters role-filter m-l-16 densed-form-field" floatLabel="auto" appearance="outline">
          <mat-label class="mat-body-2 text-400">Role</mat-label>
          <mat-select [formControl]="appliedRoles"  disableOptionCentering panelClass="dropDown-status-panel" (selectionChange)="filterByRole($event)" multiple>
            <mat-select-trigger class="selection-count-container m-t-2 m-l-40">
             <span class="count">+{{appliedRoles.value.length}}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let role of roles" [value]="role">{{ role.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <button  *ngIf="'user' | permissions:'can_write'" (click)="addUser()" class="large-button button-radius-8" mat-flat-button color="primary">
      <mat-icon>add</mat-icon> Add User
    </button>
  </div>
  <div *ngIf="appliedRoles.value.length > 0 || appliedStatuses.value.length > 0" class="filters m-t-16">
    <mat-chip-listbox aria-label="Applied Filters">
      <mat-chip
        class="chip"
        *ngFor="let appliedStatus of appliedStatuses.value"
      >
        <div matLine>{{ appliedStatus }}</div>
        <mat-icon matChipRemove (click)="removeStatus(appliedStatus)"
          >close</mat-icon
        >
      </mat-chip>
      <mat-chip class="chip" *ngFor="let appliedRole of appliedRoles.value">
        <div matLine>{{ appliedRole.name }}</div>
        <mat-icon matChipRemove (click)="removeRole(appliedRole.id)">close</mat-icon>
      </mat-chip>
    </mat-chip-listbox>
    <button
      *ngIf="appliedRoles.value.length > 0 || appliedStatuses.value.length > 0"
      (click)="clearFilters()"
      mat-button
      class="medium-button clear-btn m-t-4 m-l-8"
      color="primary"
    >
      Clear All
    </button>
    <span class="fill-remaining-space"></span>
  </div>
  <ng-container *ngIf="dataSource.length === 0" #noUser>
    <div class="no-user-container m-t-24 p-48">
      <img src="assets/no_user.png" />
      <div class="subtitle-color m-t-24 mat-headline-6">No Results Found</div>
    </div>
  </ng-container>
  <div
    [ngStyle]="
      dataSource.length > 0
        ? { visibility: 'visible' }
        : { visibility: 'hidden' }
    "
    class="table-body"
  >
    <div class="users-table-container m-t-24">
      <mat-table
        class="users-table mat-elevation-z0"
        [dataSource]="dataSource"
        matSort
        matSortActive="id"
        matSortDirection="asc"
        matSortDisableClear
      >
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >ID</mat-header-cell
          >
          <mat-cell *matCellDef="let user">{{ user.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >USER</mat-header-cell
          >
          <mat-cell *matCellDef="let user">
           <span>
           {{user.first_name}} {{user.last_name}}
           <div class="text-300"> @ {{user.username}}</div>
          </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >EMAIL</mat-header-cell
          >
          <mat-cell class="duration-cell" *matCellDef="let user">{{
            user.email
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >PHONE</mat-header-cell
          >
          <mat-cell class="duration-cell" *matCellDef="let user"
            >{{ user.phone_number }}
          </mat-cell>
        </ng-container>

      <ng-container matColumnDef="role_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ROLE</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let user">{{ user.role?.name | titlecase }}</mat-cell>
      </ng-container>

        <ng-container matColumnDef="created_at">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >DATE</mat-header-cell
          >
          <mat-cell class="duration-cell" *matCellDef="let user">{{
            user.created_at | date
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>STATUS</mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let user">
            <div class="status-chip {{ user.status | status }}">
              {{ user.status | status | titlecase }}
            </div>
          </mat-cell>
        </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          <div class="p-l-12">ACTION</div>
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let user">
          <button  *ngIf="'user' | permissions:'can_read'" mat-icon-button color="accent" [routerLink]="['/users/', user.id]" routerLinkActive="router-link-active">
            <mat-icon class="m-r-8 material-icons-outlined">
            visibility
          </mat-icon>
        </button>
        <button  *ngIf="'user' | permissions:'can_delete'" mat-icon-button (click)="deleteUser(user)">
          <mat-icon class="m-r-8 material-icons-outlined" color="accent">
            delete
          </mat-icon>
        </button>
        </mat-cell>
      </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    <mat-paginator class="paginator" showFirstLastButtons [length]="dataSource.length" [pageSize]="defaultPageSize" [pageSizeOptions]="paginationSizes"></mat-paginator>
  </div>
</div>
