.mat-mdc-form-field {
  width: 100%;
}
.form-container {
  height: 250px;
}
.user-list-item-card-avatar {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-color: #2d9cdb;
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 32px;
}
