.info-card {
  .mat-mdc-card {
    border-radius: 12px;
    box-shadow: none;
    border: 1px solid #d8d8dd;
  }
}
.mat-mdc-form-field {
  width: 100%;
}
.permissions-form-wrapper {
  margin: 32px auto;
}
