@import "src/theme_variables.scss";

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  left: 0;
  width: 70%;
  padding: 24px;
  background: $login-background;
}
.right {
  right: 0;
  width: 30%;
  background-color: #fff;
}

.login-card {
  padding: 28px;
  width: 450px;
  height: 500px;
  box-shadow: none;
  button {
    width: 100%;
  }
}
.login-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  font-size: 14px;
  a {
    margin-top: 10px;
    white-space: nowrap;
  }
}
