<div class="split left">
  <div>
    <img height="36px" width="40px" src="assets/cq_logo.png" alt="CraftedQ Logo" />
  </div>
</div>
<div class="split right">
  <div class="centered">
    <form [formGroup]="loginForm" novalidate>
      <mat-card class="login-card">
        <div class="mat-headline-6 text-500">Welcome to SDS!</div>
        <p class="mat-subtitle-2 text-400 m-b-20">Please sign-in to your account</p>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="loginForm.get('username')?.getError('required')">username is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="isShowPassword ? 'text' : 'password'" placeholder="Password"
            formControlName="password">
          <mat-icon (click)="isShowPassword = !isShowPassword" matSuffix>
            {{ isShowPassword ? 'visibility_off': 'visibility' }}
          </mat-icon>
          <mat-error *ngIf="loginForm.get('password')?.getError('required')">password is required</mat-error>
        </mat-form-field>
        <div class="login-options">
          <mat-checkbox formControlName="remember" class="remember-me-checkbox">Remember Me</mat-checkbox>
          <a [routerLink]="['/login/forgot-password']">Forgot Password?</a>
        </div>
        <div class="login-button m-t-24">
          <button mat-raised-button (click)="onSubmit()" color="primary">Login</button>
        </div>
        <p class="m-t-24 subtitle-color text-center">
          New on our platform?
          <a [routerLink]="['/login/signup']">Create an account</a>
        </p>
      </mat-card>
    </form>
  </div>
</div>
