.mat-mdc-form-field {
  width: 100%;
}
.settings-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #DEDEDE;
}

.delete-role-container {
  border-radius: 8px;
  width: 98%;
}
