.add-user-dialog-header-text {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.profile-complete-link {
  display: flex;
  flex-direction: row;
}
.mat-icon {
  vertical-align: middle;
}
.mat-mdc-form-field {
  width: 100%;
}
