<div class="info-card">
  <mat-card class="p-t-8 p-r-16 p-b-8 p-l-16">
    <mat-card-content>
      <div class="mat-headline-6 text-400">Change Password</div>
      <div class="mat-subtitle-1 text-300 m-t-4">
        Please enter a new password in the fields below.
      </div>
      <section class="m-t-24">
        <form [formGroup]="passwordChangeForm" novalidate>
          <mat-form-field class="width-100 m-b-4" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="isShowPassword ? 'text' : 'password'"
              minlength="6"
              maxlength="30"
              placeholder="Password"
              formControlName="password"
            />
            <mat-icon (click)="isShowPassword = !isShowPassword" matSuffix>
              {{ isShowPassword ? "visibility_off" : "visibility" }}
            </mat-icon>
            <mat-error
              *ngIf="passwordChangeForm.get('password')?.getError('required')"
              >password is required</mat-error
            >
            <mat-error
              *ngIf="
                !passwordChangeForm.get('password')?.getError('required') &&
                passwordChangeForm.get('password')?.getError('whitespace')
              "
              >whitespaces are not a valid input</mat-error
            >
          </mat-form-field>
          <mat-form-field class="width-100" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              placeholder="Retype Correct Password"
              minlength="6"
              maxlength="30"
              formControlName="confirm_password"
            />
            <mat-error
              *ngIf="
                passwordChangeForm.get('confirm_password')?.getError('required')
              "
              >confirm password is required</mat-error
            >
            <mat-error
              *ngIf="
                !passwordChangeForm
                  .get('confirm_password')
                  ?.getError('required') &&
                passwordChangeForm
                  .get('confirm_password')
                  ?.getError('whitespace')
              "
              >whitespaces are not a valid input</mat-error
            >
          </mat-form-field>
          <mat-error
            class="error-color"
            *ngIf="passwordChangeForm.errors?.['notmatched'] && (passwordChangeForm.touched || passwordChangeForm.dirty)"
            >passwords does not Match</mat-error
          >
        </form>
      </section>
    </mat-card-content>
  </mat-card>
</div>
